/* ==UserStyle==
@name           FanFiction.net - [Deprecated] / Black+Cyan recolor
@namespace      USO Archive
@author         TikiTDO
@description    `I have stopped any active development on this style, as I no longer spend as much time on fanfiction.net. For an alternative I suggest style 17556, which is what I use now. I will leave the style in its current for for reference and historic purposes.---FanFiction.net high contrast black background with cyan text. Updates all site text to cyan and majority of site backgrounds to shades of black. Links are colored purple to offset the text. If the colors in this style do not suit you, please try style 17556 for a somewhat similar set of colors with a focus on grays, or style 1300 for a significantly brighter alternative.Updates will generally happen when a particular ffnet style change annoys me into action. It is entirely possible for things to go unnoticed for some time, especially if they affect parts of the site I rarely visit. If you have a feature request, just drop me an email at TikiTDO@gmail.com.Update 09-29-09: I swear, Xing tries to break these addons or something. There is no need to change all these classes so often.Update 09-29-09: New menu, same oldUpdate 06-28-09: Updated ad removal code along with the usual suspects :)Update 05-11-09: Completely replaced code with new style based on style 17556 by user 23145. Colors are reproduced for the most part, though I dimmed the cyan a bit, as it was brighter than I would like on my new monitor.`
@version        2009930.5.0
@license        NO-REDISTRIBUTION
@preprocessor   uso

==/UserStyle== */

@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("fictionpress.com"), domain("fanfiction.net") {
/* Hide Advertisements */
script + script + center div,
#google_ads_div_ff_safe_banner_728x90,
div.myborder > div.myborder_only_top > div,
div#menu-extra-c + script + center,
div.myborder_only_top > hr[size="1"] + div,
hr[size="1"] + form#myform > script + table + div,
form[name="justin"] + hr[size="1"] + div,
hr[size="1"] + table[width="100%"] + div,
table.myborder tr td[valign="top"] div:not([id="bio"]),
table.myborder + br + div,
hr[size="1"] + form[name="myform"] table[width="100%"] + div,
br + br + center,
table + br + center,
form + br + center,
div + div > form + br /* hide the extra space at the bottom */
{
display: none !important;
}


/* Body */
	body {
		background: #000000 !important;
 		color: #9CD8D8 !important;
	}

/* Story Text */
	.storytext {
 		color: #9CD8D8 !important;
	}

	.storytextp {
		background: #000000 !important;
	}

/* Default links */
	a:link {
		color: #78648C !important;
		text-decoration:none !important;
		border: none !important;
	}

	a:visited {
		color: #5B488F !important;
		text-decoration:none !important;
		border: none !important;
	}

	a:hover, a:visited:hover { 
		text-decoration:underline !important;
	}

	a:active { 
		color: #78648C !important;
		text-decoration:none !important;
	}

/* Drop-down menus and buttons */
	select, input, textarea {
		background: #111 !important;
		color: #ccc !important;
		border: 1px solid #ccc !important;
		-moz-appearance: none !important;
	}

	select:hover, select:focus, input:hover, input:focus, textarea:hover, textarea:focus {
		border-color: #fff !important;
	}

	.myborder, a[name="top"] + table.myborder tr td {
		background: none !important;
	}

	a[name="top"] + table.myborder td:first-child {
		color: #888 !important;
	}

	a[name="top"] + .myborder a, a[name="top"] + table.myborder td:first-child a {
		color: #aaa !important;
	}

	a[name="top"] + .myborder a:hover, a[name="top"] + table.myborder td:first-child a:hover {
		color: #fff !important;
	}

/* FFnet Top Menu Bars */
	body > div {
		background-color: transparent !important;
		color: #9CD8D8 !important;
	}

	.xxui, .zui, .zmenu {
		background-color: #000000 !important;
	}

	/* Fix for the weird Help menu */
	.xxmenu, .xxui {
		background: #000000 !important;
	}

/* Review/User Alternating Backgrounds */
	.alt0,.alt0Active,.alt2,.alt2Active {
		background: #080808 !important;
		color: #9CD8D8 !important;
	}

	.alt1,.alt1Active,.alt3,.alt3Active {
		background: #101010 !important;
		color: #9CD8D8 !important;
	}

/* Table Fixes */
	.tborder,.trowh {
		background: #333 !important;
		border: none !important;
	}

	.tcat {
		background: #333 !important; 
		border: none !important;
	}

	.thead {
		background: #222 !important;
		color: #ccc !important;
	}

/* Table Spacing/Hover Colors */
	table#gui_table15i,table#gui_table14i,table#gui_table13i,table#gui_table12i,table#gui_table11i,
	table#gui_table10i,table#gui_table9i, table#gui_table8i, table#gui_table7i, table#gui_table6i,
	table#gui_table5i, table#gui_table4i, table#gui_table3i, table#gui_table2i, table#gui_table1i {
		border-spacing: 0px !important;
		border: 1px solid #333 !important;
		-moz-appearance: none !important;
	}

	.fhigh {
		background: #181818 !important;
	}

	.x-high, .z-high {
		background: #080808 !important;
	}

/* Profile Admin Coloration */
	.xtabc, .admintabs a{
		border-color: #555 !important;
	}

	.admintabs a:hover, .admintabs a.selected {
		background: #9BAF73 !important;
	}

	form[name="frm_search"] td {
		background: #333 !important;
	}

	td[bgcolor="#f0f0f0"] {
		background: #555 !important;
	}

	a.positive {
		border: 1px solid #555 !important;
	}

	.panel_success, .gui_success {
		color: #9CF8B8 !important;
		background: #000 !important;
	}

	.panel_warning, .gui_warning {
		color: #D8A0A0 !important;
		background: #000 !important;
	}

/* Review Button Colors */
	.positive,.buttons a,.buttons button {
		background: #222 !important;
		border-color: #555 !important;
		color: #966EB4 !important;
	}

	.positive:hover, .buttons a:hover, .buttons button:hover {
		background: #444 !important;
		color: #ccc !important;
		border-color: #888 !important; 
	}

/* Review Button on Story List */
	a.reviews {
		color: #DD44DD !important;
	}

/* Firefox 3 Top Menu Fix - DO NOT DELETE! */
	div.menu-child form {
		width: 50% !important;
	}
}