/* ==UserStyle==
@name         PH!mod: "red alert" mobile
@namespace    USO Archive
@author       sz.balazs.95
@description  Ez az "alap" css mobil változata.    A megfelelő használathoz telepíteni kell még a kiegészítő css-eket is, melyek megegyeznek a desktop változattal, illetve fontos, hogy az adott oldalnál egyszerre mindkét css (az alap, és az adott oldalhoz készült is) egyaránt aktív legyen!  További fontos tudnivaló, hogy a mobil verzió megfelelő működése érdekében a mod asztali verzióját le kell tiltani!      <a href="https://userstyles.org/styles/114332/ph-mod-red-alert-prohardverhez">Kigészítő Prohardverhez</a>    <a href="https://userstyles.org/styles/114422/ph-mod-red-alert-mobilar-n-hoz">Kigészítő Mobilarénához</a>    <a href="https://userstyles.org/styles/114552/ph-mod-red-alert-it-caf-hoz">Kigészítő IT Caféhoz</a>    <a href="https://userstyles.org/styles/115071/ph-mod-red-alert-gamepodhoz">Kigészítő Gamepodhoz</a>    <a href="https://userstyles.org/styles/115149/ph-mod-red-alert-logouthoz-teszt">Kigészítő Logouthoz</a>
@version      20160301.21.58
@license      CC0-1.0
@preprocessor uso
==/UserStyle== */
@-moz-document domain("m.prohardver.hu"), domain("m.itcafe.hu"), domain("m.gamepod.hu"), domain("m.mobilarena.hu"), domain("m.logout.hu") {

/*
ver. 0.8.5 by sz.balazs.95
created: 2016.02.26
published: 2016.03.01

red: #a61f22;
light gray: #f3f3f3;
gray: #939598;
dark gray: #58595b;
*/

#top {display: none;}
.anyagok .blog h1 a, .anyagok span.time {color: #000;}
a {color: #a61f22; font-weight: bold;}
.anyagok span.msgs a {background: transparent url(http://users.atw.hu/b95/css/PH!mod/redalert/0.8.5/msg-icon-1.1.png) no-repeat scroll 0px 0.5em; color: #000;}
.anyagok span.type, .anyagok .blog span.type {color: #fff; background-color: #58595b;}
.anyagok .feat span.type {color: #fff; background-color: #a61f22;}
.anyagok .feat h1 a {color: #a61f22;}
.anyagok p, .msgblk .text p {color: #000;}
.anyag h2 {color: #58595b;}
.anyagok li {background: #f3f3f3;}
body {background-color: #f3f3f3;}
h6 a {color: #a61f22;}
h2 {background-color: #939598;}
#search input[type="text"] {border: 2px solid #58595b; background-color: #f3f3f3;}
#navi a, #navi .grey a {border: 2px solid #58595b; background-color: #939598; color: #000;}
#navi .act a, #search input {border: 2px solid #a61f22; background-color: #939598; color: #000;}
#network ul li a {color: #000;}
.forums li.ma a, .threads li.feat a {color: #a61f22;}
#main .header h4 {background-color: #58595b;}
.relcnt h4 {color: #000; background: transparent url(http://users.atw.hu/b95/css/PH!mod/redalert/0.8.5/blackline-1.1.png) repeat-x scroll 0% 20px;}
.relcnt li {background: #f3f3f3;}
.threads li.odd {background-color: #f3f3f3;}
.threads li.evn {background-color: #939598;}
.threads li p a {color: #a61f22;}
.thrnavi {background-color: #000;}
.msgblk .head {background-color: #a61f22; border-color: #a61f22;}
.msgblk a {color: #a61f22;}
#foot {background: #58595b url(http://users.atw.hu/b95/css/PH!mod/redalert/0.8.5/pat-line-1.0.png);}
.forums li.title {background: #f3f3f3 url(http://users.atw.hu/b95/css/PH!mod/redalert/0.8.5/pat-line-1.0.png); text-align: center;}
}