/* ==UserStyle==
@name           s.p.
@namespace      USO Archive
@author         SvetiiK***
@description    `@namespace url(http://www.w3.org/1999/xhtml);@-moz-document domain("vkontakte.ru") {@-moz-document domain("vkontakte.ru") {#profileActions,#rate,.moreDiv,#groupslist .actions,#groupslist .tunaimage,#groupslist .info,.basicInfo{margin:0!important;padding:0!important;border:none!important;}.upArrow,.dArrow{position:relative!important;top:-39px!important;right:-10px!important;}#sideBar #nav ol li{margin-left:-0.2em!important;}#sideBar #nav li{margin-left:-2.3em!important;}#moreWall{display:block!important;margin:-25px 0 0 0!important;padding-right:5px!important;text-align:right!important;}a .wallFunc{background:none!important;}#wall .fSub h3 div,.wallpost .info .header b,#myLink,#bNav,#bFooter p,.bNav,a[href="index.php"],.playline,#rateRight{display:none!important;}#wall .fSub h3 div:first-child,#quickReply #r,#quickReply #br {display:block!important}#quickReply #br .buttonRow,li[style^="width:"],#quickSearch{float:left!important}#quickSearch{padding:9px 9px 0 9px!important;}#percent{width:50px!important;}#wrapHI #header{height:12px!important;line-height:14px!important;position:fixed!important;z-index:99!important;margin-left:113px!important;width:100%!important;}#header h1{position:absolute!important;}#header h1 b{margin-left:10px!important;}#content{padding-top:20px!important;padding-left:121px!important;border:none!important;}#pageLayout,#userProfile,#pageHeader,.dataWrap,#pageBody,.profileName,.profileTable{width:100%!important;}#pageHeader{position:fixed!important;z-index:99!important;background-image:none!important;}#sideBar{padding:14px 0 0 0!important;margin:32px 0 0 0!important;width:99px!important;position:fixed!important;z-index:99!important;}.hasedit{width:86px!important;}#pageBody{margin-top:45px!important;}#leftColumn {margin-right:0!important;width:200px!important;position:absolute!important;left:100px!important;}#rightColumn {margin-left:5px!important;width:auto!important;position:absolute!important;left:300px!important;}#wrap1{border:none!important;}#mainFeed{margin-left:6px!important;}.aPad,.flexBox{padding:0px!important;}table .friendTable > tbody> tr > td > table > tbody > tr > td,.friendTable td,#groupslist .tunaimage{text-align:left!important;}#groupslist .grouprow{border:1px solid #CCCCCC!important;padding:1% 1% 1% 1%!important;margin:-1px!important;width:98%!important;}#groupslist .actions, #groupslist .tunaimage, #groupslist .info,.friendTable td{vertical-align:top!important;}#startagroup,#findagroup{padding:1% 1% 1% 1%!important;margin:0 0 0 0!important;width:48%!important;}#findagroup{float:right!important;}td[width="110"],td[width="200"],#groupslist .actions,#groupslist .tunaimage{width:10%!important;}td[width="290"],#groupslist .info{width:80%!important;}.result .image,ul[id="nav"],.result .info,.result .info dd,#photoinfo,#photocomment,#videoinfo,#videocomment{width:auto!important;}}}`
@version        20081214.18.58
@license        NO-REDISTRIBUTION
@preprocessor   uso
==/UserStyle== */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("vkontakte.ru") {
@-moz-document domain("vkontakte.ru") {

#profileActions,#rate,.moreDiv,#groupslist .actions,#groupslist .tunaimage,#groupslist .info,.basicInfo

{margin:0!important;padding:0!important;border:none!important;}

.upArrow,.dArrow

{position:relative!important;top:-39px!important;right:-10px!important;}

#sideBar #nav ol li

{margin-left:-0.2em!important;}

#sideBar #nav li

{margin-left:-2.3em!important;}

#moreWall

{display:block!important;margin:-25px 0 0 0!important;padding-right:5px!important;text-align:right!important;}

a .wallFunc

{background:none!important;}

#wall .fSub h3 div,.wallpost .info .header b,#myLink,#bNav,#bFooter p,.bNav,a[href="index.php"],.playline,#rateRight

{display:none!important;}

#wall .fSub h3 div:first-child,#quickReply #r,#quickReply #br 

{display:block!important}

#quickReply #br .buttonRow,li[style^="width:"],#quickSearch

{float:left!important}

#quickSearch

{padding:9px 9px 0 9px!important;}

#percent

{width:50px!important;}

#wrapHI #header

{height:12px!important;line-height:14px!important;position:fixed!important;z-index:99!important;margin-left:113px!important;width:100%!important;}

#header h1

{position:absolute!important;}

#header h1 b

{margin-left:10px!important;}

#content

{padding-top:20px!important;padding-left:121px!important;border:none!important;}

#pageLayout,#userProfile,#pageHeader,.dataWrap,#pageBody,.profileName,.profileTable

{width:100%!important;}

#pageHeader

{position:fixed!important;z-index:99!important;background-image:none!important;}

#sideBar

{padding:14px 0 0 0!important;margin:32px 0 0 0!important;width:99px!important;position:fixed!important;z-index:99!important;}

.hasedit

{width:86px!important;}

#pageBody

{margin-top:45px!important;}

#leftColumn 

{margin-right:0!important;width:200px!important;position:absolute!important;left:100px!important;}

#rightColumn 

{margin-left:5px!important;width:auto!important;position:absolute!important;left:300px!important;}

#wrap1

{border:none!important;}

#mainFeed

{margin-left:6px!important;}

.aPad,.flexBox

{padding:0px!important;}

table .friendTable > tbody> tr > td > table > tbody > tr > td,.friendTable td,#groupslist .tunaimage

{text-align:left!important;}

#groupslist .grouprow

{border:1px solid #CCCCCC!important;padding:1% 1% 1% 1%!important;margin:-1px!important;width:98%!important;}

#groupslist .actions, #groupslist .tunaimage, #groupslist .info,.friendTable td

{vertical-align:top!important;}

#startagroup,#findagroup

{padding:1% 1% 1% 1%!important;margin:0 0 0 0!important;width:48%!important;}

#findagroup

{float:right!important;}

td[width="110"],td[width="200"],#groupslist .actions,#groupslist .tunaimage

{width:10%!important;}

td[width="290"],#groupslist .info

{width:80%!important;}

.result .image,ul[id="nav"],.result .info,.result .info dd,#photoinfo,#photocomment,#videoinfo,#videocomment

{width:auto!important;}}
}