/* ==UserStyle==
@name         Dark Minimal WhatsApp Web
@namespace    USO Archive
@author       Giorgio Adamo
@description  <div>Check out the original style at <a rel="nofollow" href="https://userstyles.org/styles/182006" target="_blank">userstyles.org</a><br/></div><b>DEVELOPMENT AND UPDATED OF THE SKIN SUSPENDED - 05/07/2023</b>    Make sure you have the dark theme selected from the whatsapp web settings:  3 dots button on the top of the left pane (chat pane) > settings > theme > dark    Consider supporting me by donating on <a href="paypal.me/giorgioadamo"><b>Paypal</b></a>    You can easily <b>change the accent/theme color and the font family</b> according to your preference by clicking the button <b>CUSTOMIZE </b> right above the preview picture.    Constantly updating as the newest WhatsApp web update release comes online. So if the skin breaks, it may take me maximum a couple of days to fix it, so don't worry and stay tuned. I will be on the case ;)    Stay safe and have a productive day!    UPDATED AUGUST 2022
@version      20230708.04.51
@license      CC-BY-NC-4.0
@preprocessor uso
@advanced dropdown fontFamily "Font family" {
    monospazio "Font - Monospace*" <<<EOT monospace EOT;
    seriffio "Font - Sans Serif" <<<EOT sans-serif EOT;

}
@advanced color mainColor "Theme color" #ff9e70
==/UserStyle== */
@-moz-document domain("web.whatsapp.com") {
	/* @import url("https://fonts.googleapis.com/css?family=Raleway"); */

	/* ignore the error icon below if using the Stylish code editor*/
	:root .dark,
	:root {
		/* color-scheme */
		--superLightGray: #9e9e9e;
		--lightGray: rgb(85, 85, 85);
		--darkGray: #222222;
		--darkerGray: #1c1c1c;
		--darkestGray: #161616;
		--colorTonedGray: #1d2326;
		--mainColor: /*[[mainColor]]*/ ;
		--fontFamily: /*[[fontFamily]]*/ ;

		/* start comment this block on the stylish version */
		/* --mainColor: #ff9e70; */
		/* --fontFamily: "Raleway"; */
		/* end comment this block on the stylish version */

		--whitish: #d5d5d5;
		--neumorph-cl-1: #0b0b0b;
		--neumorph-cl-2: #2d2d2d;
		--neumorph-bg: linear-gradient(
			145deg,
			var(--colorTonedGray),
			var(--darkGray)
		) !important;
		--neumorph-bg-inverted: linear-gradient(
			325deg,
			var(--colorTonedGray),
			var(--darkGray)
		) !important;
		--neumorph-bs: -3px -3px 10px var(--neumorph-cl-1),
			3px 3px 10px var(--neumorph-cl-2) !important;
		--neumorph-bs-focused: -3px -3px 10px var(--neumorph-cl-1),
			3px 3px 10px var(--neumorph-cl-2), inset 0px 0px 2px 2px var(--mainColor) !important;
		/* --alertMessage: "IMPORTANT: whatsapp released a new version of whatsapp web on 19.11.2020 breaking all the custom skins out there. I will release fixes in the next days to make it work again. Keep manually updating!!!"; */
		--alertMessage: "IMPORTANT: I fixed an important issue where the color customisation wouldn't work. Please UNISTALL the skin, then go to the skin URL, select a color of your choice and REINSTALL the skin! ";
		--alertMessageSize: 17px;

		--cl-1: var(--mainColor) !important;
		--cl-2: #f32d4b;
		--cl-3: #b14aed;
		--cl-4: #4474e4;
		--cl-5: #34d3b3;
		--cl-6: #2add7e;
		--cl-7: #f5f12f;
		--cl-8: #f69d37;
		--cl-9: #ff70bf;
		--cl-10: #e73287;

		/* --colorTonedGray: #143031;
    --mainColor: #bfffc7;

    --colorTonedGray: #1c2e4c;
    --mainColor: #6cd0ff;

    --colorTonedGray: #1c0125;
    --mainColor: #db6be2;

    --colorTonedGray: #31020d;
    --mainColor: #ff5450; */

		/* vanilla vars overwrite */
		--active-tab-marker: var(--mainColor) !important;
		--audio-progress-played-incoming: var(--mainColor) !important;
		--audio-progress-played-outgoing: var(--mainColor) !important;
		--audio-progress-incoming: var(--mainColor) !important;
		--audio-progress-outgoing: var(--mainColor) !important;
		--background-default: var(--darkGray) !important;
		--background-default-active: var(--darkGray) !important;
		--background-default-hover: var(--darkGray) !important;
		--button-primary-background: var(--mainColor) !important;
		--intro-background: var(--darkerGray) !important;
		--menu-tabs-list-active: var(--mainColor) !important;
		--audio-track-outgoing: var(--superLightGray) !important;
		--audio-track-outgoing: var(--superLightGray) !important;
		--panel-background: var(--darkGray) !important;
		--panel-background-colored: var(--darkGray) !important;
		--dropdown-background-hover: var(--darkGray) !important;
		--unread-marker-background: var(--mainColor) !important;
		--video-primary: var(--mainColor) !important;
		--button-alternative: var(--mainColor);
		--incoming-background-deeper: var(--darkerGray);
		--outgoing-background-deeper: var(--darkerGray);
		--butterbar-connection-background: var(--darkestGray);
		--butterbar-connection-primary: white;
		--butterbar-connection-secondary: var(--superLightGray);
		--panel-header-background: var(--darkestGray);
		--system-message-background: transparent;
		--button-primary-background-hover: var(--colorTonedGray);
		--panel-background-deeper: var(--darkerGray);
		--button-alternative: var(--mainColor);
		--switch-button-checked-color: var(--mainColor);
		--switch-track-checked-color: var(--lightGray);
		--video-primary: var(--mainColor);
		--rich-text-panel-background: var(--darkGray);
		--mention-at-symbol: var(--mainColor);
		--search-input-container-background: transparent;
		--button-secondary: var(--mainColor) !important;
		--icon-high-emphasis: var(--darkerGray);
		--link: var(--mainColor) !important;
		--teal: var(--mainColor) !important;
		--unread-timestamp: var(--mainColor) !important;
		--primary-strong: var(--mainColor);
		--compose-input-background: var(--darkerGray) !important;
		--compose-input-border: var(--darkerGray) !important;
		--dropdown-background: var(--darkerGray) !important;
		--drawer-section-background: var(--darkerGray) !important;
		--drawer-background: var(--darkerGray) !important;
		--app-background-stripe: var(--darkerGray) !important;
		--modal-backdrop: var(--darkerGray) !important;
		--button-secondary-border: var(--darkerGray) !important;
		--border-list: transparent;
		--button-secondary-border: var(--darkerGray) !important;
		--search-container-background: var(--darkerGray);
		--border-stronger: var(--darkerGray);
		--search-input-background: var(--darkGray);
		--message-primary: var(--whitish);
		--link-preview: rgba(233, 237, 239, 0.87);
		--link-preview-light: rgba(233, 237, 239, 0.3);
	}

	/*========= miscellanous =========*/
	/*========= miscellanous =========*/

	._1XkO3,
	._1lPgH,
	.p3_M1,
	.etp_f {
		background: var(--neumorph-bg) !important;
		box-shadow: var(--neumorph-bs) !important;
		border-radius: 20px !important;
	}
	._3Uu1_ {
		padding: 0;
	}
	.c3x5l3r8 {
		left: 0.5ch;
		width: 100%;
		display: flex;
		align-items: center;
		left: 10px;
	}
	.y_sn4 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: baseline;
		gap: 5px;
	}
	.y_sn4 * {
		margin: 0 !important;
	}

	._2gzeB {
		background-color: var(--darkestGray) !important;
	}
	._2T2Kt.vBu41 {
		background: radial-gradient(
			at top right,
			rgba(var(--incoming-background-rgb), 1) 60%,
			rgba(var(--incoming-background-rgb), 0) 80%
		) !important;
	}
	span.l7jjieqr.fewfhwl7 {
		color: #606060 !important;
	}
	._1beEj {
		margin: 0 !important;
	}

	._3vPI2 {
		flex-direction: column !important;
		justify-content: flex-start !important;
		align-items: flex-start !important;
	}
	._3vPI2 ._1i_wG {
		margin: 0 !important;
		color: white !important;
		font-size: 11px !important;
		margin: 2px 0 0 0 !important;
	}
	._2qo4q {
		margin-right: 2px;
		position: absolute;
		top: 10px;
		right: 10px;
		flex-direction: row;
		display: flex;
	}
	._2qo4q:before {
		content: "status: ";
		font-size: 10px;
		color: white;
		display: inline-block;
		display: flex;
		flex-direction: row;
		margin-right: 5px;
	}
	.y_sn4 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: baseline;
		gap: 5px;
	}
	.y_sn4 * {
		margin: 0 !important;
	}

	._2gzeB {
		background-color: var(--darkestGray) !important;
	}
	._2T2Kt.vBu41 {
		background: radial-gradient(
			at top right,
			rgba(var(--incoming-background-rgb), 1) 60%,
			rgba(var(--incoming-background-rgb), 0) 80%
		) !important;
	}
	span.l7jjieqr.fewfhwl7 {
		color: #606060 !important;
	}
	._1beEj {
		margin: 0 !important;
	}

	header._1G3Wr,
	header._23P3O {
		padding: 40px 30px !important;
		background-color: var(--darkestGray) !important;
	}
	header._1G3Wr ._3GlyB,
	header ._2YnE3 {
		transform: scale(1.3) !important;
	}

	header ._2YnE3 {
		padding-right: 20px !important;
		margin-left: 20px !important;
	}
	header .lhj4utae {
		font-size: 19px !important;
	}

	.EtBAv .i0jNr,
	._3cOAM,
	._1-lf9.NQl4z {
		padding: 10px;
		top: 0px;
		position: relative;
		border-radius: 10px;
		color: var(--mainColor);
	}
	.V-zSs {
		padding: 20px 9% !important;
	}

	.GAiYx {
		margin-bottom: 12px !important;
	}

	._3EZ_R,
	._1VmmK,
	.message-out .ItfyB,
	.message-in .ItfyB {
		background: var(--neumorph-bg);
		position: relative;
		padding: 9px !important;
		border-radius: 10px;
		border: 0px !important;
	}
	.message-out .ItfyB {
		background: var(--neumorph-bg-inverted);
	}

	._1Jn3C {
		background: var(--neumorph-bg);
		box-shadow: var(--neumorph-bs);
	}

	.Nm1g1._22AX6,
	._1XkO3,
	._3yWey.XKmj6 {
		background-color: transparent !important;
	}
	.zoWT4 {
		font-size: 15px;
	}

	._22Msk {
		background-color: transparent !important;
	}
	._2Fo6S {
		margin-bottom: 15px !important;
	}

	.WYyr1 {
		margin-top: 10px !important;
		margin-left: 2px !important;
	}

	.Nm1g1 span.i0jNr {
		box-shadow: none !important;
		background: transparent !important;
	}
	.bfbxj8tr {
		bottom: 10px;
		right: -12px;
	}
	._16kef.dKzIw {
		background: transparent !important;
	}
	header .lhj4utae {
		font-size: 15px !important;
	}

	/*========= new messages notifications =========*/
	/*========= new messages notifications =========*/

	.ovhn1urg {
		background-color: var(--mainColor);
		border-radius: 5px !important;
		padding: 5px !important;
		display: block;
		position: absolute;
		top: 5px;
		left: 5px;
		font-weight: 100 !important;
	}
	.Hy9nV {
		color: var(--whitish);
	}
	.Dvjym {
		color: var(--lightGray) !important;
	}
	._1jLYl {
		border-radius: 10px;
	}

	._2nY6U {
		position: relative !important;
	}

	._1pJ9J {
		transform: none !important;
	}

	span[title="typing…"] {
		color: unset !important;
	}

	.etp_f:focus-within,
	._1Jn3C:focus-within,
	.p3_M1:focus-within,
	._1VmmK:focus-within {
		box-shadow: var(--neumorph-bs-focused) !important;
	}

	/*========= mentioned name =========*/
	/*========= mentioned name =========*/

	._1VzZY .matched-mention,
	._12x9I,
	._3m_Xw:hover {
		cursor: pointer;
		color: var(--mainColor) !important;
	}

	/*========= bold text =========*/
	/*========= bold text =========*/

	.edeob0r2,
	.EtBAv .i0jNr {
		font-weight: 800;
	}

	/*========= video player bar + thumb fix =========*/
	/*========= video player bar + thumb fix =========*/

	.piNo6,
	._2KNOi,
	._3DHGF,
	._1doUo {
		z-index: 99999;
	}
	._2KNOi {
		left: -5px !important;
	}

	*::-webkit-scrollbar-track,
	*::-webkit-slider-runnable-track {
		background: var(--lightGray) !important;
	}

	body,
	span,
	header,
	div {
		font-family: var(--fontFamily) !important;
	}
	body {
		background-image: -webkit-linear-gradient(top, black, black) !important;
	}

	::placeholder {
		color: var(--lightGray);
	}
	/*======== overlay messages ======== */
	/*======== overlay messages ======== */

	._NAbm.N7Dyd,
	.kA6WR.N7Dyd,
	._1lcup,
	._39Lm1,
	._1UyGr._18oGY {
		background: linear-gradient(
			15deg,
			rgba(var(--lightGray), 0),
			rgba(var(--lightGray), 0) 45%,
			rgba(var(--lightGray), 0.12) 70%,
			rgba(var(--lightGray), 0.33)
		) !important;
	}
	[data-asset-intro-image-light],
	[data-asset-intro-image-dark] {
		position: relative;
		top: 100px;
		background-image: url(http://i.imgur.com/Nzo0SUV.png);
		border-radius: 0px !important;
		filter: hue-rotate(-167deg);
		transform: scale(0.5) !important;
	}
	progress,
	a._3FXB1 {
		color: var(--mainColor) !important;
	}

	input#input-chatlist-search {
		background-color: var(--whitish) !important;
		border-radius: 5px;
		color: black;
	}
	progress[value]::-webkit-progress-value {
		background-color: var(--mainColor) !important;
	}

	._8hzr9 {
		border-radius: 15px !important;
		transform: scale(0.85);
	}

	/*========= alert message - maintenance =========*/
	/*========= alert message - maintenance =========*/

	#app:after {
		display: flex;
		display: none;
		color: var(--mainColor);
		content: var(--alertMessage);
		animation: alert 50s infinite linear;
		top: 0;
		white-space: nowrap;
		font-size: var(--alertMessageSize);
		padding: 2px 50px;
		height: 55px;
		left: -210vw;
		position: fixed;
		animation-iteration-count: 1;
		z-index: 99999999999999999999999999;
		background: var(--darkGray);
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	/*======== icons svg fill ========*/
	/*======== icons svg fill ========*/

	div[role="button"] svg path,
	[data-icon] svg path,
	g[clip-path="url(#image-SVGID_2_)"] path,
	g[clip-path="url(#camera-SVGID_2_)"] path,
	g[clip-path="url(#document-SVGID_2_)"] path,
	g[clip-path="url(#contact-SVGID_2_)"] path,
	g[clip-path="url(#rooms-SVGID_2_)"] path,
	._3xkAl svg path {
		fill: var(--mainColor) !important;
	}

	[data-icon="tail-out"] svg path,
	[data-icon="tail-in"] svg path,
	[data-icon="audio-file"] svg path:nth-child(1),
	[data-icon="checkbox-round-checked"] svg path:nth-child(1),
	[data-icon="default-user"] svg path:nth-child(2),
	[data-icon="default-group"] svg path:nth-child(2),
	[data-icon="default-user"] svg path:nth-child(1),
	[data-icon="alert-phone"] svg path:nth-child(1),
	[data-icon="default-user"] svg path:nth-child(1),
	[data-icon="default-group"] svg path:nth-child(1) {
		fill: transparent !important;
	}

	[data-icon="default-user"] svg path:nth-child(2),
	[data-icon="new-group"] svg path:nth-child(1),
	[data-icon="default-group"] svg path:nth-child(2) {
		fill: transparent !important;
		stroke: var(--mainColor) !important;
		stroke-width: 7px !important;
	}

	[data-icon="default-user"] svg path:nth-child(2) {
		stroke-width: 12px !important;
	}

	[data-icon="new-group"] svg path:nth-child(1),
	[data-icon="alert-battery"] svg path {
		fill: transparent !important;
		stroke: var(--mainColor) !important;
		stroke-width: 2px !important;
	}
	[data-icon="default-user"] {
		transform: scale(0.6) !important;
	}
	[data-icon="ptt-file"] svg path:first-child {
		fill: transparent !important;
	}

	._6vYCc,
	._37Tzw,
	._1b8eK,
	._34Zo9,
	.RXmfT svg path,
	._3fnYk {
		stroke: var(--mainColor) !important;
	}

	._1jJLh span svg path,
	.yavlE span svg path,
	span[data-icon="ptt-status"] svg path:first-child,
	span[data-icon="ptt-out-blue"] svg path:first-child,
	span[data-icon="ptt-in-blue"] svg path:first-child,
	span[data-icon="ptt-out-gray"] svg path:first-child,
	span[data-icon="ptt-in-gray"] svg path:first-child {
		fill: var(--darkGray) !important;
	}
	._3hV1n span svg path,
	._2m8GO span svg path:nth-child(2) {
		fill: var(--whitish) !important;
	}
	.tail-container {
		display: none;
	}
	.app {
		box-shadow: 0px 0px 2px 0px black !important;
	}
	._2EXPL:hover:after,
	._2EXPL._3df_h:after,
	._2EXPL._1f1zm:after {
		border-top: 0px !important;
	}
	._1fkhx,
	._3AwwN,
	._2WP9Q,
	._2UaNq._3mMX1:after,
	._2UaNq._16_lP:after,
	._2UaNq:hover:after,
	._1WWP0,
	._3Pwfx:hover:after,
	._3Pwfx._1GGbM:after,
	._2Z4DV:hover:after,
	._3yWey,
	.p3_M1 {
		border: none !important;
	}
	._1wSzK {
		display: none;
	}
	._3NteO {
		cursor: zoom-in;
	}
	div[aria-selected]:hover,
	div[aria-selected="true"] {
		filter: contrast(1.1);
	}

	._20WGU,
	._15CAo._3EQsG,
	._1UyGr ._18oGY {
		background: linear-gradient(
			15deg,
			transparent,
			transparent 45%,
			rgba(0, 0, 0, 0.12) 70%,
			rgba(0, 0, 0, 0.33)
		) !important;
	}

	._3ojyC ._3IkMh {
		right: 21px !important;
		bottom: 6px !important;
	}

	.ajgl1lbb:after {
		content: attr(aria-valuetext);
		position: absolute;
		bottom: -20px;
		font-size: 11px;
		right: 0px;
		opacity: 0.6;
	}
	.p357zi0d.bmot90v7 .ajgl1lbb:after {
		display: none;
	}

	/*======== dark background ========*/
	/*======== dark background ========*/

	.chat.active,
	._1NrpZ,
	.L89LI,
	._1CnF3,
	._3XpR2,
	._2nmDZ,
	._3oju3,
	._3AwwN,
	.swl8g,
	._3auIg,
	._2EXPL,
	.message-system,
	.message-system-body,
	._2k1om,
	.media-body-container,
	._2sNbV,
	._1GX8_,
	._2EYZY,
	._3_R6X,
	._1XwnX,
	._3gUiM._6vIwv,
	._1FroB,
	._2Mvo8,
	._1CSx9,
	._2vsnU,
	.Zq3Mc,
	._3kAJH,
	._3pkkz,
	.rstyJ,
	._3SX5f,
	.fzCXy,
	.NuujD,
	._2UaNq,
	._1WMT2,
	._2BqsJ,
	._19RFN,
	._27U_m:before,
	._3jHKU,
	._1HjMu,
	._1RYPC,
	._1FPJ-:after,
	._2A6NB,
	#startup,
	.-peIt,
	._1c8mz,
	._3p0T6,
	._3NANR,
	._1ccjW:after,
	._2zynu,
	._9tCEa,
	.B5rWa,
	.JWJN5,
	._1OnaQ,
	._1xGbt,
	.eJ0yJ,
	._2-aNW,
	._1kdBg,
	._2TZYF,
	._3QYia,
	._2UTyI,
	.wPvaz,
	._36Lgj,
	._151kh,
	.SjSeX,
	._2hHuA,
	._2Ld6M,
	._3Pwfx,
	._22PcK,
	._2O84H,
	.wPm43,
	.tnocY,
	.KpuSa,
	._3SvgF,
	.gMRg5,
	._3Ceb0,
	.i8New,
	.yVipa,
	._3DmTD,
	._2S-RK,
	._1d7uX ._25c1-,
	._1UuMR,
	._3vEz4,
	._3P_7M,
	._2Efpu,
	._14wV4,
	._fpIW ._25-g1,
	.XukK_,
	.iHaMv,
	.sWE2H,
	._1jYaq,
	.message-out ._159mM ._2JswF,
	.message-out ._159mM ._2zab4,
	.message-in ._159mM ._2JswF,
	.message-in ._159mM ._2zab4,
	.ItuW3,
	._2EXPL:hover ._3j7s9,
	._2EXPL:hover ._1wjpf,
	._2EXPL:hover .dIyEr,
	._34D8D:hover,
	.eJ0yJ:hover,
	.n-CQr:hover,
	._2S4cq,
	._2Z4DV,
	.vR1LG,
	.RPX_m,
	._1R3Un,
	.SgIJV,
	._1-qgF,
	._2oUye,
	._2A8P4,
	.atk6d,
	._3JBJ3,
	.TbtXF,
	._2kR4B,
	._215cl,
	._1IqI5,
	._3NBUs,
	._1NQpW,
	._1npKH,
	.VMhw8,
	._3_5OP,
	._1814Z._3Ku9S,
	._2nY6U,
	.nBIOd,
	.p3_M1,
	._2B4d4._1QH2G,
	.message-in ._2JUrU ._3OC33,
	.message-in ._2JUrU ._3Lby7,
	.a-HbF,
	._3IBSU,
	._1sNMG,
	._1-lf9.NQl4z {
		background-color: var(--darkGray) !important;
	}

	._3pkkz,
	._3AwwN,
	._3auIg,
	._1JbDr,
	._2y17h,
	._3fs0K,
	._2UaNq,
	.ZP8RM,
	.ZP8RM,
	._3Jvyf,
	._3jHKU,
	._2i7Ej,
	._2k1Z5,
	._2LSbZ,
	._19RFN,
	._2kUhl,
	._6xQdq,
	._2KgjI,
	._1zGQT,
	.iFKgT,
	._1hhkM,
	._2eK7W,
	._1WD8C,
	.NeQRT,
	._1g8sv,
	._3fktq,
	._3u328,
	._13mgZ,
	.MVjBr,
	._1Plpp,
	._2MSJr,
	._3j7s9,
	._2EXPL,
	._3sEgI,
	._1i1U7,
	._3pRd1,
	.KNt1E,
	._24k3z,
	._1drA3,
	._2HBs4,
	._3mRez.D4OT6,
	.wDFKR,
	._2lwig._2nFG1,
	._3b2Cf:before,
	._274yw,
	._2EoyP,
	._1QUKR,
	._3ee1T,
	._3xpD_,
	._4tndQ,
	._3uMse,
	.eJ0yJ,
	._1_u2h,
	._3qx7_,
	._2Bps4,
	.Mr-fu,
	._1QUKR,
	._2TZYF,
	._1iFv8,
	._36Lgj,
	._2VC-w,
	.Vts9M,
	._2J60S,
	._3JuBL,
	._357Eb,
	._2kf8f,
	._210SC,
	._2xoTX,
	._1nrJA,
	._3gBQS,
	.KeLEe,
	._2zpSw,
	._2Oo_9,
	._1Ar0V._1t3gq,
	._2o2ZR,
	._3sKvP,
	._3ToB1,
	._27KDP,
	.naICS,
	.q2PP6,
	._1C9_o,
	._2S-RK,
	._3tpsN,
	._1HX2v,
	._37bbf,
	.mBpSq,
	._1z6YY,
	._1gal2,
	._1E4E4,
	._2eUNe,
	.tSmQ1,
	.ICvlM,
	._3k8SE,
	._2zkCi,
	._3NCh_,
	._1FKgS::after,
	#app,
	._11liR,
	.YAIhH,
	._2-q8E,
	._3HmHK,
	.message-out ._3Ppzm,
	.message-in ._3Ppzm,
	._3AUV4,
	[data-asset-chat-background-dark],
	._3ob6,
	.cR0ai ._2Ye92,
	._3ob6-,
	.B3rjP,
	.TbtXF,
	._2GAT7,
	._2P1rL,
	._2QzJd,
	._2nY6U,
	._1U_13,
	.message-out ._3o5fT,
	.message-in ._3o5fT,
	._2BU3P,
	._3yKRR._3tcao,
	._20c87,
	._1HzbD,
	._3J6wB,
	._1fqrG,
	._1w-Ol,
	.sIvFa.CHSLU {
		border: none !important;
		background: var(--darkerGray) !important;
		color: var(--superLightGray) !important;
	}

	/*======== light gray color ========*/
	/*======== light gray color ========*/

	.xD91K,
	._315-i,
	._1ovWX,
	._3I1_2,
	._1zGQT,
	.dPZky,
	._23q2r,
	._3fnHB,
	._1FWQp,
	._3H4MS,
	._2HHbr,
	.Am8s6,
	._1F9Ap,
	html[dir="ltr"] ._1F9Ap,
	.Y9G3K,
	._18lLQ,
	._3Whw5,
	.m7gJ2,
	._1LQvt,
	._3umVQ,
	._2FVVk ._3FRCZ,
	._1JGAF,
	._1uP6d,
	._3PNvA,
	.j6ajL,
	.gqmGx,
	._3FgB2,
	._3MjzD ._1hI5g,
	._1VzZY span,
	._1VzZY,
	._1awRl,
	._3guyl:not(.RXmft) svg path,
	._24wtQ,
	._1DB2K,
	._1JAUF._2x4bz ._2_1wd,
	._222Ot,
	.cvjcv,
	._2nY6U._2_TVt ._37FrU {
		/* fill: #828689 !important; */
		color: var(--superLightGray) !important;
	}

	/*======== darker background + mainColor color ========*/
	/*======== darker background + mainColor color ========*/
	._3cOAM,
	._1qi0v,
	._2Qffr,
	._1Vw8y,
	.matched-text,
	._3qlW9 a,
	.vdXUe,
	.O90ur,
	.L89LI,
	._1sYdX,
	._2548U,
	._2Mvo8,
	.iYPsH,
	.Zq3Mc,
	._3he1q,
	.kiodY,
	._1drsQ,
	._3s5Z_,
	._26JG5,
	._3EN0l,
	.cGLoy,
	._2AP3i,
	._2hHc6,
	.Sl-9e,
	._1lo-H,
	.a7otO,
	._315-i,
	._1ebw2,
	.OWYLS,
	._1Kstu,
	.iFKgT a,
	._1pYs5,
	._2ZAIy ._19RFN,
	._2ZAIy,
	._1puWZ,
	._3RiLE,
	._2eK7W,
	.DKsDC,
	.r7sRK,
	._3jHKU,
	.A_Kh_,
	._28Bny,
	._347-w::after,
	._111ze,
	._2zynu a,
	._298R6,
	._3BCzw,
	._1RQfk,
	._1JbDr,
	._3tlsa,
	._1qUma,
	._2rR_l,
	._3Seam,
	._1CRb5,
	._1CkkN ._1RMZB,
	._3nuGo,
	._1nfbl,
	.gQzdc,
	._3h-WS,
	._1iFv8,
	.xOg_4,
	._3D5PJ,
	._1E1g0,
	._1YcH-,
	.n-CQr,
	._2s_eZ,
	._3wAoe,
	.pr5ny,
	._1S5Ya,
	._3y5oW,
	._3Pu8_,
	._1fiOp,
	._1tbWk,
	._2wPpw,
	.G_MLO,
	._3wNld,
	._1iJWV,
	._17IJR,
	._21ltg,
	._151kh,
	._2Ld6M,
	._2hHuA,
	._3_CQb,
	._2_F5S,
	._20A_P,
	._3eShu,
	._2dByE,
	._1qDvT.gcerK,
	._2pAWd,
	.iBZ7z,
	._1TGsd,
	._18cLH,
	._2xLui,
	._1lGi-,
	._3R02z,
	.hRcqT,
	._2hjoV,
	._3gJlY,
	.h70RQ,
	.h70RQ:after,
	._2iML2,
	._3S3Sz,
	._26MUt,
	._3nLE_,
	._32vnm,
	._1OZ02,
	._2gti7,
	._1RHZR,
	._1ij5F.KpuSa ._1VzZY,
	._14pZF,
	._3dHYI,
	._3Z2oJ,
	._2jYgI,
	._27ApE,
	._1wc4Q._3JHdl,
	._17JJa,
	._2S-RK,
	._3wdcN,
	._WnqL._3JHdl,
	._3RFYA,
	._3weD7,
	._37Ouk,
	._3ZEdX,
	._2wFt8,
	._3LLJf,
	._2gaFk,
	._1qa3m,
	.-lcoh,
	.SncVf,
	._3JBJ3,
	._3JMNf,
	._3LX7r,
	.kavRs,
	._1qAEq,
	._2ON8c,
	._1sPn5,
	.F-0gY,
	._2heqZ,
	._36Jt6,
	._3UHfW,
	._2Z4DV:hover,
	.TbtXF:hover,
	._2Rdwt,
	._2qjeQ,
	._30YSI,
	._1pwLR._1m1gD,
	._1_T8o._1m1gD,
	._3inup,
	.bT1qf._17oaQ,
	._2OcmB,
	._2oimd,
	._2kxXx,
	._2EcSg,
	._2mQtw,
	._23P3O,
	._1G3Wr,
	.uwk68,
	.o--vV,
	.EtBAv,
	.YGe90,
	._2t-e4,
	._3cOAM,
	._1IN0t,
	._2gZCX._3tcao,
	._2jRew,
	.iWqod._1MZM5 {
		background-color: var(--darkerGray) !important;
		color: var(--mainColor) !important;
	}

	/*======== mainColor color property ONLY ========*/
	/*======== mainColor color property ONLY ========*/

	._1AwDx,
	html[dir="ltr"] .color-1,
	._3Bxar,
	._1xGbt,
	._30ie-,
	.P8cO8,
	._34D8D,
	.bRYFY,
	input::placeholder,
	._35chb,
	._3LL06,
	._2IkcY,
	header span._1wjpf._3NFp9._3FXB1,
	._3lLzD,
	._7HWvs,
	._25Ooe ._3NFp9,
	._1l9lt,
	._2ZZSC,
	._1Ppwx,
	._1kdBg a,
	._3CneP,
	.m61XR,
	.DP7CM,
	._3CneP ._3ko75,
	.DP7CM ._3Whw5,
	._1E1g0 ._3Whw5,
	._2dH1A,
	._2TZYF,
	._3vTfY,
	.YZNwM ._3Whw5,
	._2y8MV,
	._1X4JR,
	._1hQZ_,
	.eRacY a,
	._2spA0,
	.xvoW3,
	._2-TA4,
	._3O99L,
	._2ByRE,
	._2XKVM,
	._2tXNN,
	._17V3H,
	._18cLH,
	._2k4eS,
	.FIHAk._3QjfB,
	.YaHbb,
	._16q36,
	._21i7o:before,
	._2gsiG,
	._1ktbZ a,
	._1hI5g,
	.Bu0YU,
	._3iU_H,
	._2qOtp,
	._3oTCZ,
	._1fPA0,
	.IqPek,
	.gMRg5,
	._3ZYWe ._1VzZY,
	._2a1zO,
	.CWVX1 ._1VzZY,
	.color-1 ._1VzZY,
	._2op5b,
	._3npkZ ._1VzZY,
	._1WmI4,
	._3Tk1z,
	._1WyfI ._1VzZY,
	._1VzZY a,
	._2K5wo ._1VzZY,
	._1XH7x ._1VzZY,
	._2zkCi a,
	a,
	._3Dr46,
	._2KQyF,
	._2oUye,
	._1Kn3o,
	.VtaVl,
	._2oUye ._2fGIm .qpqWq span,
	._15smv,
	._3k0dC._3Flx8,
	._2xxet,
	._2fGIm,
	.qpqWq,
	._2wWFt,
	._2kR4B,
	._24DMK,
	span[data-mention-jid],
	.matched-mention,
	.-TvKO,
	._2MNpf,
	.dJxPU,
	.zoWT4,
	._23sAs._2ijNh,
	._21nHd,
	._1zOyO,
	._1i_wG,
	.DNiBl,
	._1C3Ha,
	._3jR9Y {
		color: var(--mainColor) !important;
	}

	/*======== lightGray color ========*/
	/*======== lightGray color ========*/

	._3zb-j,
	span ._1wjpf,
	._25Ooe,
	._3FXB1,
	._204wf {
		color: var(--lightGray);
	}

	/*======== lightGray color ========*/
	/*======== lightGray color ========*/

	._3zb-j,
	span ._1wjpf,
	._25Ooe,
	._3FXB1,
	._1DZAH,
	._2zCDG,
	._1wjpf,
	._1M0Ew,
	._15aTv,
	._3F6QL ._2S1VP,
	._1582E {
		color: gray !important;
	}

	/*======== mainColor background + var(--whitish) text ========*/
	/*======== mainColor background + var(--whitish) text ========*/

	._1AKfk,
	.nDKsM,
	._2Mvo8,
	._1jJLh,
	.iHLo1,
	.Y1iVg,
	.P6z4j,
	.dark bg-color-1,
	.dark bg-color-2,
	._15wNI,
	._3PQ7V,
	._2zynu:after,
	.Q8uSF,
	._1Wbpa,
	.PNlAR,
	.OUeyt,
	._3hV1n,
	._3C3Sj,
	._2Mg6D .CzI8E,
	._1sGGp._2nFG1,
	._1o1sm:hover,
	._1o1sm._2nOMz,
	._31gEB,
	._1kdBg:after,
	input[type="range"]::-webkit-slider-thumb,
	._3opXb,
	._2SH44,
	.FV2Qy,
	input[type="radio"]:checked,
	._5m0TK,
	._31gEB,
	._2XAo8:before,
	.VOr2j,
	.gMRg5,
	.RXL_k,
	.dark .bg-color-1,
	._3yI1b:before,
	._27KDP:after,
	._14wV4,
	*::-webkit-scrollbar-thumb,
	.dark .bg-color-2,
	.piNo6,
	._2KNOi,
	._3xWLK,
	._3OPbH,
	._1io3J,
	._38M1B,
	._1xOYT:before,
	.UF5Li,
	.zaKsw:after,
	._23LrM,
	.br6oik82 {
		background-color: var(--mainColor) !important;
		border-color: var(--mainColor) !important;
		color: var(--whitish) !important;
		font-weight: 400;
	}

	/*======== var(--whitish) background and border color ========*/
	/*======== var(--whitish) background and border color ========*/

	input[type="range"]::-webkit-slider-runnable-track {
		background-color: var(--whitish) !important;
		border-color: var(--whitish) !important;
	}

	._1hDF,
	._2IweK {
		border-color: var(--whitish) !important;
	}

	/*======== lighter gray hover background ========*/
	/*======== lighter gray hover background ========*/
	/* DO NOT DELETE FOR BACKGROUND COLOR PRIORITY OVER DARKER BG */

	._2EXPL:hover ._3j7s9,
	._2EXPL:hover ._1wjpf,
	._2EXPL:hover .dIyEr,
	._34D8D:hover,
	.eJ0yJ:hover,
	.n-CQr:hover,
	._2S4cq,
	.H774S._3UHfW,
	._9-YHG,
	._18oo2._19zgN .pXnLN,
	._3K-bg,
	._165_h {
		background-color: var(--darkGray) !important;
	}

	/*======== lighter gray hover background ========*/
	/*======== lighter gray hover background ========*/

	._2BU3P,
	#side .uwk68,
	._2mQtw {
		background: var(--colorTonedGray) !important;
		padding: 20px !important;
	}

	/*======== transparent background ========*/
	/*======== transparent background ========*/

	.message-out,
	.message-out ._2Wx_5,
	.message-in ._2Wx_5,
	.message-in,
	._2Mg6D .CzI8E,
	._1q11a._2nBjH,
	._1ubAk,
	._2vsnU *,
	._1RYPC,
	._3I3b7,
	._1ubAk,
	._23QTJ,
	.cvjcv.EtBAv {
		background-color: transparent !important;
		background: transparent !important;
	}

	/*======== transparent color ========*/
	/*======== transparent color ========*/

	.message-in ._1JfxZ,
	.message-out ._1JfxZ {
		color: transparent !important;
	}

	/*======== darker gray color ========*/
	/*======== darker gray color ========*/

	span[data-icon="tail-in"],
	span[data-icon="tail-out"] {
		color: var(--darkerGray) !important;
	}

	/*======== border color transparent ========*/
	/*======== border color transparent ========*/

	._2kHpK,
	.eJ0yJ:after,
	._1C6Zl,
	.DuUXI,
	._2Evw0,
	.TbtXF,
	._2A8P4,
	._3OvU8 {
		border-color: transparent !important;
	}

	/*======== border color mainColor ========*/
	/*======== border color mainColor ========*/

	._1WLC6 ._3tSYy,
	._2a1zO,
	._2_g1_,
	._2zkCi:after,
	._2Gqfb .UQ0S6,
	._2fOd_ ._3mpG7,
	._2359L ._1paHP,
	.diqd3znl,
	._2AkjL._31gut {
		border-color: var(--mainColor) !important;
	}

	/*======== input background darkerGray, light border ========*/
	/*======== input background darkerGray, light border ========*/

	.DuUXI,
	._2Evw0,
	._3XUNQ {
		background-color: var(--darkerGray) !important;
	}

	/*========= seen messages icons =========*/
	/*========= seen messages icons =========*/

	span[data-icon="ptt-out-gray"] svg path,
	span[data-icon="ptt-in-gray"] svg path,
	._1VfKB span svg path,
	._1o1sm:hover,
	._1myj_ span[data-icon="status-ptt"] svg path,
	._1Tnge span[data-icon="status-check"] svg path,
	._1Tnge span[data-icon="status-time"] svg path,
	._3sDwr span[data-icon="status-ptt"] svg path,
	span[data-icon="status-check"] svg path,
	span[data-icon="msg-check"] svg path,
	span[data-icon="status-dblcheck"] svg path,
	._2UQ4S .ptt-status-icon,
	._2v8yt span svg path,
	._3PHHe span svg path,
	span[aria-label=" Delivered "] svg path,
	._376MY,
	span[data-icon="recalled"] svg path,
	span[data-icon="msg-time"] svg path,
	span[data-icon="status-ptt"] svg path,
	._2qo4q svg path {
		opacity: 0.3 !important;
	}
	._2RFeE,
	._3hyINm,
	._3hyIN span[data-icon="status-ptt"] svg path,
	._2XORi[data-icon="status-dblcheck"] svg path,
	span[aria-label=" Read "] svg path,
	._-68As span svg path,
	._37v2u span[data-icon="status-ptt"] svg path,
	._1Fcp3 .ptt-status-icon,
	.qfllr span[data-icon="status-dblcheck"] svg path,
	span[aria-label=" Read "] svg path,
	.piNo6,
	._38ck1[data-icon="status-dblcheck"] svg path,
	._3fLTW span[data-icon="status-ptt"] svg path,
	._3NIfV span[data-testid="status-dblcheck"] svg path {
		opacity: 1 !important;
	}
	span[data-icon="ptt-out-blue"] svg path:first-child,
	span[data-icon="ptt-in-blue"] svg path:first-child,
	span[data-icon="ptt-out-gray"] svg path:first-child,
	span[data-icon="ptt-in-gray"] svg path:first-child {
		fill: var(--darkerGray) !important;
	}

	/*========= group chat names =========*/
	/*========= group chat names =========*/

	._3MjzD ._1XH7x[dir="auto"]:not(._1hI5g),
	._3MjzD ._1XH7x[dir="auto"]:not(._1hI5g) + span,
	span[title="typing…"],
	._2a1Yw,
	span._2NMQ2._1hI5g._1VzZY,
	._1JCRe,
	div[data-animate-modal-body] ._3xWLK .-TvKO,
	._16h0X {
		color: var(--whitish) !important;
	}
	.zGvn8 span {
		color: inherit !important;
	}
	._2KXjI:before {
		content: "@ ";
		margin-right: 5px;
	}
	._1V82l path.primary {
		fill: var(--whitish) !important;
	}
	.color-1 span,
	.color-1 ._1VzZY,
	.color-11 span,
	.color-11 ._1VzZY,
	.color-21 span,
	.color-21 ._1VzZY,
	.color-31 span,
	.color-31 ._1VzZY,
	.color-41 span,
	.color-41 ._1VzZY,
	.color-51 span,
	.color-51 ._1VzZY {
		color: var(--cl-1) !important;
	}
	.dark .bg-color-1,
	.dark .bg-color-11,
	.dark .bg-color-21,
	.dark .bg-color-31,
	.dark .bg-color-41,
	.dark .bg-color-51 {
		background-color: var(--cl-1) !important;
	}
	.color-2 span,
	.color-2 ._1VzZY,
	.color-12 span,
	.color-12 ._1VzZY,
	.color-22 span,
	.color-22 ._1VzZY,
	.color-32 span,
	.color-32 ._1VzZY,
	.color-42 span,
	.color-42 ._1VzZY,
	.color-52 span,
	.color-52 ._1VzZY {
		color: var(--cl-2) !important;
	}
	.dark .bg-color-2,
	.dark .bg-color-12,
	.dark .bg-color-22,
	.dark .bg-color-32,
	.dark .bg-color-42,
	.dark .bg-color-52 {
		background-color: var(--cl-2) !important;
	}
	.color-3 span,
	.color-3 ._1VzZY,
	.color-13 span,
	.color-13 ._1VzZY,
	.color-23 span,
	.color-23 ._1VzZY,
	.color-33 span,
	.color-33 ._1VzZY,
	.color-43 span,
	.color-43 ._1VzZY,
	.color-53 span,
	.color-53 ._1VzZY {
		color: var(--cl-3) !important;
	}
	.dark .bg-color-3,
	.dark .bg-color-13,
	.dark .bg-color-23,
	.dark .bg-color-33,
	.dark .bg-color-43,
	.dark .bg-color-53 {
		background-color: var(--cl-3) !important;
	}
	.color-4 span,
	.color-4 ._1VzZY,
	.color-14 span,
	.color-14 ._1VzZY,
	.color-24 span,
	.color-24 ._1VzZY,
	.color-34 span,
	.color-34 ._1VzZY,
	.color-44 span,
	.color-44 ._1VzZY,
	.color-54 span,
	.color-54 ._1VzZY {
		color: var(--cl-4) !important;
	}
	.dark .bg-color-4,
	.dark .bg-color-14,
	.dark .bg-color-24,
	.dark .bg-color-34,
	.dark .bg-color-44,
	.dark .bg-color-54 {
		background-color: var(--cl-4) !important;
	}
	.color-5 span,
	.color-5 ._1VzZY,
	.color-15 span,
	.color-15 ._1VzZY,
	.color-25 span,
	.color-25 ._1VzZY,
	.color-35 span,
	.color-35 ._1VzZY,
	.color-45 span,
	.color-45 ._1VzZY,
	.color-55 span,
	.color-55 ._1VzZY {
		color: var(--cl-5) !important;
	}
	.dark .bg-color-5,
	.dark .bg-color-15,
	.dark .bg-color-25,
	.dark .bg-color-35,
	.dark .bg-color-45,
	.dark .bg-color-55 {
		background-color: var(--cl-5) !important;
	}
	.color-6 span,
	.color-6 ._1VzZY,
	.color-16 span,
	.color-16 ._1VzZY,
	.color-26 span,
	.color-26 ._1VzZY,
	.color-36 span,
	.color-36 ._1VzZY,
	.color-46 span,
	.color-46 ._1VzZY,
	.color-56 span,
	.color-56 ._1VzZY {
		color: var(--cl-6) !important;
	}
	.dark .bg-color-6,
	.dark .bg-color-16,
	.dark .bg-color-26,
	.dark .bg-color-36,
	.dark .bg-color-46,
	.dark .bg-color-56 {
		background-color: var(--cl-6) !important;
	}
	.color-7 span,
	.color-7 ._1VzZY,
	.color-17 span,
	.color-17 ._1VzZY,
	.color-27 span,
	.color-27 ._1VzZY,
	.color-37 span,
	.color-37 ._1VzZY,
	.color-47 span,
	.color-47 ._1VzZY,
	.color-57 span,
	.color-57 ._1VzZY {
		color: var(--cl-7) !important;
	}
	.dark .bg-color-7,
	.dark .bg-color-17,
	.dark .bg-color-27,
	.dark .bg-color-37,
	.dark .bg-color-47,
	.dark .bg-color-57 {
		background-color: var(--cl-7) !important;
	}
	.color-8 span,
	.color-8 ._1VzZY,
	.color-18 span,
	.color-18 ._1VzZY,
	.color-28 span,
	.color-28 ._1VzZY,
	.color-38 span,
	.color-38 ._1VzZY,
	.color-48 span,
	.color-48 ._1VzZY,
	.color-58 span,
	.color-58 ._1VzZY {
		color: var(--cl-8) !important;
	}
	.dark .bg-color-8,
	.dark .bg-color-18,
	.dark .bg-color-28,
	.dark .bg-color-38,
	.dark .bg-color-48,
	.dark .bg-color-58 {
		background-color: var(--cl-8) !important;
	}
	.color-9 span,
	.color-9 ._1VzZY,
	.color-19 span,
	.color-19 ._1VzZY,
	.color-29 span,
	.color-29 ._1VzZY,
	.color-39 span,
	.color-39 ._1VzZY,
	.color-49 span,
	.color-49 ._1VzZY,
	.color-59 span,
	.color-59 ._1VzZY {
		color: var(--cl-9) !important;
	}
	.dark .bg-color-9,
	.dark .bg-color-19,
	.dark .bg-color-29,
	.dark .bg-color-39,
	.dark .bg-color-49,
	.dark .bg-color-59 {
		background-color: var(--cl-9) !important;
	}
	.color-10 span,
	.color-10 ._1VzZY,
	.color-20 span,
	.color-20 ._1VzZY,
	.color-30 span,
	.color-30 ._1VzZY,
	.color-40 span,
	.color-40 ._1VzZY,
	.color-50 span,
	.color-50 ._1VzZY,
	.color-60 span,
	.color-60 ._1VzZY {
		color: var(--cl-10) !important;
	}
	.dark .bg-color-10,
	.dark .bg-color-20,
	.dark .bg-color-30,
	.dark .bg-color-40,
	.dark .bg-color-50,
	.dark .bg-color-60 {
		background-color: var(--cl-10) !important;
	}

	._1kdBg:after {
		content: "Enjoy the darkness";
		color: var(--mainColor) !important;
		background-color: transparent !important;
		left: 50% !important;
		transform: translateX(-50%);
		width: 50%;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		font-size: 35px;
		height: 35px;
		font-weight: 800;
		padding: 50px !important;
		top: 20%;
		border-top: none !important;
		animation: 5.5s pulse infinite;
	}

	._3BMKG {
		left: -4px !important;
		z-index: 9999;
	}

	._2Zdgs:hover,
	.pNwLD:hover {
		color: white;
		box-shadow: var(--neumorph-bs-focused) !important;
	}

	.piNo6,
	._2KNOi,
	input[type="range"] {
		cursor: pointer;
	}
	.a-HbF {
		padding: 0 !important;
	}

	._3ojyC ._2Lwe3 {
		padding: 10px 0 !important;
	}

	._1u3M2:before {
		content: "■ ■ ■" !important;
		margin-right: 8px !important;
	}
	.at-symbol {
		margin-right: 5px !important;
	}

	._1IN0t {
		margin: 3px 0 3px 66px !important;
	}
	.a-HbF {
		padding: 5px 0 !important;
	}

	@keyframes pulse {
		0% {
			-webkit-box-shadow: 0 0 0 0px var(--mainColor);
			box-shadow: 0 0 0 0px var(--mainColor);
		}
		45% {
			-webkit-box-shadow: 0 0 0 15px #ff613800;
			box-shadow: 0 0 0 15px #ff613800;
		}
	}

	@keyframes alert {
		from {
			left: 110%;
		}
		to {
			left: -200%;
		}
	}
}
