/* ==UserStyle==
@name           Yahoo Mail Classic - Just Mail Simply Better
@namespace      USO Archive
@author         rob64rock
@description    `For Firefox 3.6+ and up to the latest Firefox Beta, Aurora, Nightly builds.This style is for those that just use Yahoo Mail for checking their Email Inbox, it mainly focuses on getting rid of the unnecessary stuff like the page header and footer, and Web-ads. It also moves the 'Yahoo Navigation Sidebar' to the right-side of the screen, which is beneficial for those who like to zoom-in on the Yahoo Email Inbox webpage without the need of having to adjust the horizontal scroll-bar position to be able to view the Email Inbox in the center of the screen.(<b>Note: Not all Web-ads may be removed, If you still see some I suggest you use the Add-on Adblock Plus</b>.)Tested on Firefox 3.6+ and up to the latest Firefox Beta, Aurora, Nightly builds. (<b>Note: I only tested style on Yahoo Mail Classic, so it may not work well on the New Yahoo Mail.</b>)Modified code from Userstyle:style 59376`
@version        20120324.21.45
@license        NO-REDISTRIBUTION
@preprocessor   uso
==/UserStyle== */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain(mail.yahoo.com) {

div#yUnivHead,
div#custom-folders-nav,
div#list-view,
h2#nav-applications,
span#main-btn-new,
span#btn-new,
ul#tablist,
#northbanner,
#mg_footer,
#MNW,
#MON,
#REC,
#ch_col_h1,
#ch_vhci,
#ycw,
#yuhead-promo,
.ycw-events {
   display: none !important;}

div.nav-bar,
div#main {
   top: 0px!important;}

div#shellnavigation,
div#shellcontent {
   top: 35px!important;}

#navigation {
   float: right !important;
   max-width: 185px !important;
   margin-left: -1px !important;
   margin-bottom: -0.5px !important;}

#pageContent {
   margin-left: 180px !important;
   overflow: auto !important;}

#gx_userprofile {
   margin-right: 180px !important;
   margin-top: -10px !important;}

#gx_vnews {
   margin-right: 180px !important;
   margin-top: 7px !important;
   margin-bottom: -13px !important;}

#gx_news {
   margin-right: 10px !important;}

.plainMail {
   margin-right: 10px !important;
   margin-top: -5px !important;
   margin-bottom: -5px !important;
   overflow: auto !important;}

#contentnavtop > DIV,
#contentnavbottom > DIV:last-child,
#showMessagePage > DIV:last-child > DIV:last-child {
   margin-right: 5px !important;}

.btn {
   border-radius: 2px !important;
   -moz-border-radius: 2px !important;}



/* Switched button positions 'Mail Searchbar' with 'Check/New Mail' & 'Print Mail' with 'Previous/Next Mail' */

#contentbuttonbartop,
#contentbuttonbarbottom,
#globalbuttonbartop,
#globalbuttonbarbottom {
   min-height: 23px !important;}

#globalbuttonbartop > DIV:first-child > FORM:last-child > P > SPAN,
#globalbuttonbarbottom > DIV:first-child > FORM:last-child > P > SPAN {
   position: absolute !important;
   right: 8px !important;}

#globalbuttonbartop > DIV:first-child > FORM:first-child > P > SPAN,
#globalbuttonbarbottom > DIV:first-child > FORM:first-child > P > SPAN {
   position: absolute !important;
   right: 69px !important;}

#searchtestfieldstop,
#searchtestfieldsbottom {
   position: absolute !important;
   left: 15px  !important;}

#showMessagePage > DIV:first-child {
   float: right !important;
   margin-right: 7px !important;}

#showMessagePage > DIV:nth-child(2) {
   float: left !important;
   margin-left: 0px !important;}



/* Moves the Mail Inbox 'Delete' button closer to the 'Yahoo Navigation Sidebar', when reading emails */

#contentbuttonbartop > FORM:first-child > SPAN,
#contentbuttonbarbottom > FORM:first-child > SPAN {
   position: absolute !important;
   right: 185px !important;}

.switchcgcontainer {
   display: none !important;}



/* To use a style section below move the symbol (star|forward-slash) at the bottom of a style section below and place it to the right of the style's section description */

/********************************************************************************************/

/* Yahoo Mail Classic Blue Theme color on 'Yahoo Nav-Sidebar' background 

#navigation {
   border-color: rgb(149, 179, 222) !important;
   background-color: rgb(149, 179, 222) !important;}

#bd, #leftnav > DIV:nth-child(2) {
   border-color: rgb(149, 179, 222) !important;}

#leftnav > UL > LI > DIV > DIV > SPAN {
   background-image: none !important;
   background-color: inherit !important;}

#leftnav > UL > LI:first-child > DIV > DIV:first-child > SPAN:first-child,
#leftnav > UL > LI:last-child > DIV > DIV:first-child > SPAN:first-child {
   -moz-border-radius-topleft: 6px !important;
   border-top-left-radius: 6px !important;
   margin-left: -7px !important;}

#leftnav > UL > LI:first-child > DIV > DIV:last-child > SPAN:first-child,
#leftnav > UL > LI:last-child > DIV > DIV:last-child > SPAN:first-child {
   -moz-border-radius-bottomleft: 6px !important;
   border-bottom-left-radius: 6px !important;
   margin-left: -7px !important;}

#leftnav > UL > LI:first-child > DIV > DIV:first-child > SPAN:last-child,
#leftnav > UL > LI:last-child > DIV > DIV:first-child > SPAN:last-child {
   -moz-border-radius-topright: 6px !important;
   border-top-right-radius: 6px !important;
   margin-right: -7px !important;}

#leftnav > UL > LI:first-child > DIV > DIV:last-child > SPAN:last-child,
#leftnav > UL > LI:last-child > DIV > DIV:last-child > SPAN:last-child {
   -moz-border-radius-bottomright: 6px !important;
   border-bottom-right-radius: 6px !important;
   margin-right: -7px !important;}

#leftnav > UL > LI:first-child > DIV > DIV:first-child,
#leftnav > UL > LI:first-child > DIV > DIV:last-child,
#leftnav > UL > LI:last-child > DIV > DIV:first-child,
#leftnav > UL > LI:last-child > DIV > DIV:last-child,
#folderlist, #myfolderlist, #vespashortcuts {
   border-color: rgb(149, 179, 222) !important;}

#ChatContainer > DIV:first-child > SPAN:first-child {
   -moz-border-radius-topleft: 6px !important;
   border-top-left-radius: 6px !important;
   margin-left: -8px !important;}

#ChatContainer > DIV:last-child > SPAN:first-child {
   -moz-border-radius-bottomleft: 6px !important;
   border-bottom-left-radius: 6px !important;
   margin-left: -8px !important;}

#ChatContainer > DIV:first-child > SPAN:last-child {
   -moz-border-radius-topright: 6px !important;
   border-top-right-radius: 6px !important;
   margin-right: -8px !important;}

#ChatContainer > DIV:last-child > SPAN:last-child {
   -moz-border-radius-bottomright: 6px !important;
   border-bottom-right-radius: 6px !important;
   margin-right: -8px !important;}

#ChatContainer > DIV:first-child,
#ChatContainer > DIV:last-child {
   border-color: rgb(149, 179, 222) !important;}

*/


/* Yahoo Mail Classic Pink Theme color on 'Yahoo Nav-Sidebar' background 

#navigation {
   border-color: rgb(232, 163, 172) !important;
   background-color: rgb(232, 163, 172) !important;}

#bd, #leftnav > DIV:nth-child(2) {
   border-color: rgb(232, 163, 172) !important;}

#leftnav > UL > LI > DIV > DIV > SPAN {
   background-image: none !important;
   background-color: inherit !important;}

#leftnav > UL > LI:first-child > DIV > DIV:first-child > SPAN:first-child,
#leftnav > UL > LI:last-child > DIV > DIV:first-child > SPAN:first-child {
   -moz-border-radius-topleft: 6px !important;
   border-top-left-radius: 6px !important;
   margin-left: -7px !important;}

#leftnav > UL > LI:first-child > DIV > DIV:last-child > SPAN:first-child,
#leftnav > UL > LI:last-child > DIV > DIV:last-child > SPAN:first-child {
   -moz-border-radius-bottomleft: 6px !important;
   border-bottom-left-radius: 6px !important;
   margin-left: -7px !important;}

#leftnav > UL > LI:first-child > DIV > DIV:first-child > SPAN:last-child,
#leftnav > UL > LI:last-child > DIV > DIV:first-child > SPAN:last-child {
   -moz-border-radius-topright: 6px !important;
   border-top-right-radius: 6px !important;
   margin-right: -7px !important;}

#leftnav > UL > LI:first-child > DIV > DIV:last-child > SPAN:last-child,
#leftnav > UL > LI:last-child > DIV > DIV:last-child > SPAN:last-child {
   -moz-border-radius-bottomright: 6px !important;
   border-bottom-right-radius: 6px !important;
   margin-right: -7px !important;}

#leftnav > UL > LI:first-child > DIV > DIV:first-child,
#leftnav > UL > LI:first-child > DIV > DIV:last-child,
#leftnav > UL > LI:last-child > DIV > DIV:first-child,
#leftnav > UL > LI:last-child > DIV > DIV:last-child,
#folderlist, #myfolderlist, #vespashortcuts {
   border-color: rgb(232, 163, 172) !important;}

#ChatContainer > DIV:first-child > SPAN:first-child {
   -moz-border-radius-topleft: 6px !important;
   border-top-left-radius: 6px !important;
   margin-left: -8px !important;}

#ChatContainer > DIV:last-child > SPAN:first-child {
   -moz-border-radius-bottomleft: 6px !important;
   border-bottom-left-radius: 6px !important;
   margin-left: -8px !important;}

#ChatContainer > DIV:first-child > SPAN:last-child {
   -moz-border-radius-topright: 6px !important;
   border-top-right-radius: 6px !important;
   margin-right: -8px !important;}

#ChatContainer > DIV:last-child > SPAN:last-child {
   -moz-border-radius-bottomright: 6px !important;
   border-bottom-right-radius: 6px !important;
   margin-right: -8px !important;}

#ChatContainer > DIV:first-child,
#ChatContainer > DIV:last-child {
   border-color: rgb(232, 163, 172) !important;}

*/

}