/* ==UserStyle==
@name           Adblock Plus - Visual Alert if Disabled
@namespace      USO Archive
@author         dotter
@description    `Animates the Statusbar when you disable the AdBlock Plus ad-filter.Works only for Firefox 3Features:+ Animated background of the Status Bar when the Adblock Plus Extension's status is Disabled+ The animation will cycle through Red, then Yellow, then Orange.  This is done in a slow manner, not to be too distracting to the user.+ More flashy to the eyes, notifying you that your browser is at a security risk+ Animation and background color may be customizedApplies to:+ Adblock Plus Status Bar Icon (ABP)Clarification:**This style does not flash the statusbar when you disable the AdblockPlus Extension, it flashes when you disable Ad Block Plus**Integrates with Styles:+ Style 11505+ Style 8297+ Style 10319+ Style 8770Works on:- Firefox3 Only.Changelog:1.0.0.1:+ Added code to compress (shrink) the ABP statusbar icon when Adblocking is enabled.+ When Adblock is disabled, the statusbar will expand and be more noticeable.`
@version        20081112.23.28
@license        NO-REDISTRIBUTION
@preprocessor   uso
==/UserStyle== */
/*
 ____________________________________________________________________________
|                  |                                                         |
|          Title:  |  Adblock Plus - Visual Alert if Disabled                |
|    Description:  |  Disabling ABP can be a security risk - animation helps |
|         Author:  |  -=Ben=-                                                |
|   Date Created:  |  June 29, 2008                                          |
|   Date Updated:  |  November 12, 2008                                      |
|        Version:  |  1.0.0.1                                                |
|__________________|_________________________________________________________|

*/




@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);


#abp-status[deactivated="true"], #abp-status[deactivated]
{
  -moz-appearance: none !important;
  color: #FF0000 !important;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIA AAACGFjVEwAAAADAAAAAM7tusAAAAAaZmNUTAAAAAAAAAAYAAAAFgAAAAAAAAAABLAD6AEBK OTPFwAAACNJREFUSIlj+M/A8J+WmGHUglELRi0YtWDUglELRi0YGRYAADflHB05PIazAAAAG mZjVEwAAAABAAAAGAAAABYAAAAAAAAAAASwA+gBAbOXJcMAAAAnZmRBVAAAAAJIiWP4/5/hP y0xw6gFoxaMWjBqwagFoxaMWjAyLAAA1qwqK/VBbagAAAAaZmNUTAAAAAMAAAAYAAAAFgAAA AAAAAAABLAD6AEBXgH2KgAAACdmZEFUAAAABEiJY/jfyPCflphh1IJRC0YtGLVg1IJRC0YtG BkWAADumCY8GJqsbwAAAABJRU5ErkJggg==") !important ;

list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIA AAACGFjVEwAAAADAAAAAM7tusAAAAAaZmNUTAAAAAAAAAAYAAAAFgAAAAAAAAAABLAD6AEBK OTPFwAAACNJREFUSIlj+M/A8J+WmGHUglELRi0YtWDUglELRi0YGRYAADflHB05PIazAAAAG mZjVEwAAAABAAAAGAAAABYAAAAAAAAAAASwA+gBAbOXJcMAAAAnZmRBVAAAAAJIiWP4/5/hP y0xw6gFoxaMWjBqwagFoxaMWjAyLAAA1qwqK/VBbagAAAAaZmNUTAAAAAMAAAAYAAAAFgAAA AAAAAAABLAD6AEBXgH2KgAAACdmZEFUAAAABEiJY/jfyPCflphh1IJRC0YtGLVg1IJRC0YtG BkWAADumCY8GJqsbwAAAABJRU5ErkJggg==") !important ;
  /* background-color: #FF0000 !important; */
  background-repeat: no-repeat !important;
  background-position: center !important ;
}



/* Remove Padding if ABP is Enabled: */
#abp-status[deactivated="true"]
{
  padding-left: 5px !important;
  padding-right: 5px !important;
}


#abp-status
{
  padding: 0 !important;
}